.header{
    .header_nav-top{
        padding: 19px 80px;
        background-color: rgb(19, 19, 46);
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            display: flex;
            gap: 20px;
            a{
                color: #fff;
                text-decoration: none;
                font-size: 14px;
            }
        }
        span{
            display: none;
        }
        .nav-top_text{
            color: #fff;
            padding: 5px 30px;
            background-color: rgba(96, 4, 245, 0.411);
            border: none;
            border-radius: 3px;
            font-size: 14px;
        }
    }
    .header_nav{
        padding: 24px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            display: flex;
            gap: 30px;
            a{
                color: #000;
                text-decoration: none;
                font-size: 14px;
            }
        }
        span{
            display: none;
        }
    }
    .header_nav-bottom{
        background-color: #d3f1f3;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            margin-left: 4px;
            font-size: 15px;
        }
        p{
            font-size: 15px;
        }
    }
}

@media (max-width:447px) {
    .header{
        .header_nav-top{
            padding: 20px;
            ul{
                display: none;
            }
            span{
                display: block;
                color: white;
            }
            .nav-top_text{
                padding: 5px 15px;
                font-size: 10px;
            }
        }
        .header_nav{
            padding: 20px;
            ul{
                display: none;
            }
            span{
                display: block;
            }
            img{
                width: 120px;
            }
        }
        .header_nav-bottom{
            padding: 10px;
            gap: 3px;
            p{
                font-size: 10px;
            }
            span{
                font-size: 10px;
            }
        }
    }
}

@media (min-width:448px) and (max-width:769px) {
    .header{
        .header_nav-top{
            padding: 25px;
            ul{
                a{
                    font-size: 13px;
                }
            }
            .nav-top_text{
                padding: 7px 20px;
            }
        }
        .header_nav{
            padding: 25px;
            ul{
                display: none;
            }
            span{
                display: block;
                color: #000;
            }
        }
        .header_nav-bottom{
            padding: 25px;
            p{
                font-size: 13px;
            }
            span{
                font-size: 13px;
            }
        }
    }
    
}

@media (min-width:770px) and (max-width:990px) {
    .header{
            .header_nav-top{
                padding: 30px ;
                ul{
                    font-size: 13px;
                }
                .nav-top_text{
                    padding: 10px 35px;
                }
            }
            .header_nav{
                padding: 30px;
                ul{
                    font-size: 13px;
                }
            }
            .header_nav-bottom{
                padding: 27px;
                p{
                    font-size: 13px;
                }
                span{
                    font-size: 13px;
                }
            }
    }
}

@media (min-width:991px) and (max-width:1200px) {
    .header{
            .header_nav-top{
                padding: 30px ;
                ul{
                    font-size: 15px;
                }
                .nav-top_text{
                    padding: 10px 35px;
                }
            }
            .header_nav{
                padding: 30px;
                ul{
                    font-size: 15px;
                }
            }
            .header_nav-bottom{
                padding: 30px;
                p{
                    font-size: 15px;
                }
                span{
                    font-size: 15px;
                }
            }
    }
}


